*.tar.gz

Birds200_x32
CIFAR10_x32
CIFAR100_x32
Dogs120_x32
Food101_x32
Pets37_x32
TinyImageNet200_x32
TinyImageNet200_x64
ImageNet1k_x32
ImageNet1k_x64

ImageNet_x224
ImageNetV2_x224
ImageNetR_x224
ImageNetA_x224
ImageNetSketch_x224

DomainNetReal_x224
DomainNetPainting_x224
DomainNetClipart_x224
DomainNetQuickdraw_x224
DomainNetInfograph_x224
DomainNetSketch_x224
